.container{
  display: flex;

}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    width: 220px;
  }
  
  .form * *{
    width: 100%;
  }
  
  .form input{
    background-color: transparent;
    color: yellow;

    max-width: 40px;

    margin-left: 20px;
  }

.playerName{
  font-style: italic;
  font-weight: 600;
}

  .playerName input{
    min-width: 150px;
  }
  
  