.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
    margin-right: 1111px;
  }
  
  .form label {
    width: 120px;
    text-align: left;
  }
  
  .form input{
    background-color: transparent;
    color: yellow;

    max-width: 40px;

    margin-left: 20px;
  }
  
  .chart {
    font-family: sans-serif;
    margin-left: 200px;
    margin-top: -400px;
  }