body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: yellow;
}

.background-video {
  display: flex;
  justify-content: center;
  align-items: center;
}


 h1 {
text-align: center;

  background-image: linear-gradient(to bottom, #61dafb 50%, #f7d91c 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: brighten 2s ease-in-out infinite;
}

@keyframes brighten {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}
